.input-section {
  background-color: whitesmoke;
  padding: 1rem;
  /* position: static; */
  overflow-y: auto;
  height: 83vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-family: monospace;
}

.input-division {
  box-shadow: 2px 2px 5px 2px gray;
}

.input-division,
.input-division > form {
  background-color: white;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.input-division > form {
  width: 100%;
}

.input-division div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-division .input-division-heading {
  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
}

.input-division-heading :nth-child(3) {
  margin-left: auto;
}

hr {
  width: 100%;
}
/* hr {
  color: gray;
  border-style: inset;
  border-width: 1px;
  margin: 0.5em auto;
} */

.input-division label {
  font-weight: 700;
}

.input-division .input-name {
  width: 60%;
}

input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 1.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

textarea {
  border: 1px solid grey;
  border-radius: 5px;
}

.input-division .input-photo {
  width: 34%;
}

#camera {
  margin-right: 6px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 2px solid blueviolet;
  border-radius: 5px;
  /* height: 1.8rem; */
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-file-upload:hover {
  background-color: blueviolet;
  color: white;
}

.input-division .input-email,
.input-division .input-phone {
  width: 47%;
}
.input-division .input-date {
  width: 46%;
}

.input-division .form-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
}

.form-heading > span {
  margin-left: auto;
}
.form-heading > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.input-division .mini-form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 1rem;
}

.mini-form-buttons button {
  background-color: white;
  width: 7.5rem;
  height: 2rem;

  border: 3px solid transparent;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 7px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.mini-form-buttons .delete-button {
  border-color: rgb(255, 89, 89);
}
.mini-form-buttons .delete-button:hover {
  background-color: rgb(255, 89, 89);
}

.mini-form-buttons .done-button {
  border-color: rgb(105, 238, 105);
}
.mini-form-buttons .done-button:hover {
  background-color: rgb(105, 238, 105);
}

.mini-form-buttons button:hover {
  color: white;
  font-weight: 600;
}
.mini-form-buttons button:active {
  box-shadow: none;
}

.add-mini-form-button {
  width: 100%;
  margin: 1rem 3rem;
  border: 3px solid dimgray;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 4px 1px black;
  /* font-size: 0.9rem; */
  font-weight: 600;

  height: 2.3rem;
}

.add-mini-form-button:hover {
  background-color: dimgray;
  color: white;
}

.add-mini-form-button:active {
  box-shadow: none;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}
