:root {
  --theme-color: #000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: whitesmoke;
}

header {
  max-height: 8vh;
  text-align: center;
}

header :first-child {
  margin-right: 1rem;
}

header h1 {
  /* font-size: large; */
  margin: 01rem;
}

.container {
  /* border-top: 2px solid grey; */
  /* padding: 0 10rem; */
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: 25rem 1fr auto;
  grid-gap: 2rem;
}

@media (max-width: 1250px) {
  .container {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    grid-gap: 5rem;
  }

  .container > section {
    height: fit-content;
    max-height: 85vh;
  }
}
